/* Main */
.main {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

.section{
  padding:24px;
  margin-bottom:24px;

  background:white;
  border-radius:12px;

  box-shadow:0 4px 12px rgba(0,0,0,0.06);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Campaigns */
.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
}

.carousel {
  display: flex;
  transition: transform 0.4s ease-in-out;
  touch-action: pan-y;
}

/* Each banner (for testing) */
.campaign-card {
  min-width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #f8f8f8;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.campaign-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Arrows */
.carousel-btn {
  color: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  padding: 6px 10px;
  background: rgba(255,255,255,0.9);
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.prev { left: 10px; }
.next { right: 10px; }

/* Dots */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.dot.active {
  background: #000;
}

/* Adopt Cards -- Also used in separate adopt page*/
.adopt-card {
  margin-top: 16px;
  width: 260px;
  border: 1px solid #aaa;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  color:#000;
}

.adopt-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
  color:#000;
}

.adopt-pet-photo{
  width:100%;
  height:160px;
  background:#f2f2f2;
  overflow:hidden;
}

.adopt-pet-photo img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

.pet-info{
  padding:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.pet-text{
  display:flex;
  flex-direction:column;
}

.pet-type{
  width:40px;
  height:40px;
  border:1px solid #ccc;
  border-radius:6px;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
}

.pet-type img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.tags {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.tag {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  background: #e0e0e0;
}

.tag.dark {
  background: #000;
  color: #fff;
}

/* ASEAN Section */
.asean-text {
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
}

/* Buttons */
.arrow-btn {
  color: #000;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}