/* PUBLIC ORG HEADER */
.org-public-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.org-public-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.org-type {
  font-size: 14px;
  color: #777;
}

.org-location {
  font-size: 14px;
  color: #999;
}

/* DESCRIPTION */
.org-description {
  margin-bottom: 30px;
}

.org-description h2 {
  margin-bottom: 10px;
}

/* ACTION BUTTONS */
.org-public-actions {
  margin-top: 40px;
  display: flex;
  gap: 15px;
}

.primary-btn {
  background: black;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.secondary-btn {
  background: white;
  border: 1px solid #444;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.secondary-btn:hover {
  background: #f4f4f4;
}

.profile-header {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.sub-text {
  font-size: 15px;
  color: #777;
}

.about-section {
  color:#333;
}

.org-pets-section {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}